<h3>List of Pokemons</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Expired In</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Link To Pokevision</th>
  </tr>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <td><%= pokemon.pokemon_id %></td>
      <td><%= image_tag pokemon.image_uri %></td>
      <td><%= pokemon.remaining_time %></td>
      <td><%= pokemon.latitude %></td>
      <td><%= pokemon.longitude %></td>
      <td><%= link_to "PokeVision", pokemon.pokevision_uri %></td>
    </tr>
  <% end %>
</table>
